:root {
    --main: #255fff;
    --bg: #121212;
    --bg2: #191919;
    --input-bg: #232323;
    --main-shadow: 9px 8px 9px -5px #141414, -7px -7px 16px -5px #58585863;
    --button-shadow: 6px 6px 9px -5px #141414, -7px -7px 16px -5px #58585863;
    --input-shadow: 5px 5px 9px -6px #101010 inset, -7px -7px 9px -5px #58585863 inset;
    --icon-brightness: brightness(0.93) invert(1)
}

/* {
    --main: #255fff;
    --bg: #efefef;
    --bg2: #e8e8e8;
    --input-bg: #cfcfcf;
    --main-shadow:  9px 8px 9px -5px #00000063, -7px -7px 16px -5px #fff;
    --button-shadow: 6px 6px 9px -5px #00000063, -7px -7px 16px -5px #fff;
    --input-shadow:5px 5px 9px -6px #00000063 inset, -7px -7px 9px -5px #fff inset;


} */

* {
    box-sizing: border-box
}

body {
    background-color: var(--bg);
    color: #777;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button,
.button {
    color: #777;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color: var(--bg2);
    cursor: pointer;
    box-shadow: var(--button-shadow);
    transition: .2s;
}

button:active,
.button:active {
    transform: scale(.93);
}

.play {
    background-color: var(--main);
    color: #fff
}

.reproducer {
    z-index: 10;
    text-transform: uppercase;
    background-color: var(--bg2);
    width: 320px;
    border-radius: 5px;
    padding: 40px 25px;
    box-shadow: var(--main-shadow)
}

header,
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    margin: 20px 0 30px;
    text-align: center;
    font-size: 14px;
}

h3,
p,
summary {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

h3 {
    margin-bottom: 2px;
}

.image {
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 3px 3px 9px 4px #0000005c;
    animation: 10s rotate linear infinite;
    animation-play-state: paused;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image img {
    width: 100%;
    display: block;
    transform: scale(1.8);
}

.time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
}

#timeControl {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
}

input[type=range]:focus {
    -webkit-appearance: none;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: var(--input-bg);
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--main);
    cursor: pointer;
    transform: translateY(-40%);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--input-bg);
}

details {
    width: 300px;
    overflow: auto;
    position: relative;
}

summary {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding-top: 10px;
    padding-right: 20px;
}

.content div {
    width: max-content;
}

.content p {
    margin-bottom: 5px;
    width: auto;
    word-wrap: normal;
}

#songs_form {
    display: grid;
    gap: 5px
}

#songs_form input {
    color: #777;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: var(--input-shadow)
}

#songs_form input::placeholder {
    opacity: .8;
}

#songs_form button {
    height: auto;
    width: max-content;
    border-radius: 4px;
    font-size: 13px;
    padding: 10px 15px;
    margin-top: 10px;
}

#songs_form .bad::placeholder {
    color: #d00
}

details {
    box-shadow: var(--main-shadow);
    padding: 10px 15px;
    border-radius: 4px;
}

details p {
    user-select: auto;
    width: 100%;
}

#addSong button {
    width: max-content;
    height: auto;
    border-radius: 10px;
    padding: 8px 25px;
    font-size: 13px;
}

#songs_container {
    display: grid;
    gap: 11px;
}

#songslist {
    position: absolute;
    z-index: 2;
}

.showing {
    animation: showmenu 1s forwards ease;
}

@keyframes showmenu {
    0% {
        transform: translate(0)
    }

    100% {
        transform: translate(110%)
    }
}

.removing {
    transform: translate(110%);
    animation: hidemenu 1s forwards ease;
}

@keyframes hidemenu {
    0% {
        transform: translate(110%)
    }

    100% {
        transform: translate(0)
    }
}


.actual_song_icon {
    display: block;
    width: 20px;
    right: 0;
    filter: var(--icon-brightness);
    opacity: .5;
}

.actual_song_icon img {
    width: 100%;
}



#color_input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}